.idea
*.iml
*/target/
**/target/*
**/pom.xml.versionsBackup
.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/bigtoolbox/network/network.errors.log

# Don't commit Visual Studio items
**/.vs/
**/obj/
**/build/
!**/packages/**/build/
**/bin/

# Ignore stuff from MSBuild (however, it will be included in the .jar during the build)
src/main/resources/JavaInterop.exe
src/main/resources/JavaInterop.exe.config
src/main/resources/SimpleWifi.dll
src/main/resources/Newtonsoft.Json.xml